@import url('https://fonts.googleapis.com/css2?family=Sunshiney&family=Delius+Swash+Caps&family=Quicksand:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    font-weight: 500;
}

/*-----------------------------------Colours------------------------------*/

.white {
    background-color: white;
}

.blue {
    background-color: #00d9ff;
}

.green {
    background-color: #2bff00
}

.yellow {
    background-color: #f4ff54;
}
 
.orange {
    background-color: #ff8800;
 }
 
 .pink {
     background-color: #f700ff;
 }

 .purple {
     background-color: #8c00ff;
 }

/*-----------------------------------Fonts & Headers----------------------*/

h1 {
    font-family: "Sunshiney", cursive;
    font-size: 5rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
}

h2 {
    font-family: "Delius Swash Caps", cursive;
}

/*-----------------------------------Nav-----------------------------------*/

nav {
    z-index: 2;
    font-family: "Delius Swash Caps", cursive;
    width: 100%;
    line-height: 2rem;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    background-color: #00000000;
}

/*.navbar-brand {
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: "Sunshiney", cursive;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    z-index: 1;
}*/

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

ul {
    padding: 0;
}

nav .container-fluid {
    margin: 0;
    padding: 0;
}

.contact {
    position: absolute;
    right: 0;
}

.logo {
    font-family: "Sunshiney", cursive;
    font-size: 36px;
    color: #000000;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
}

.logo:hover {
    font-family: "Sunshiney", cursive;
    font-size: 36px;
    color: #000000;
    border-bottom: solid;
    border-width: 2px;
    border-color: #f700ff;
}

nav a {
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
}

nav a:hover {
    border-bottom: solid;
    border-width: 2px;
    border-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link.active {
    text-decoration: underline;
}

.navbar-light .navbar-toggler {
    border: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #00000000;
    border-radius: 0;
    padding: 8px 16px;

}

.navbar-toggler:hover {
    box-shadow: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #00d9ff;
    background-color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link {
    padding: 8px 16px;
}

/*-----------------------------------Hero-----------------------------------*/

.hero-container-home {
    height: 100vh;

    background: url("../images/hero-home.jpg") no-repeat top left;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay-home {
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    position: absolute;
}

.hero-container-science {
    height: 80vh;

    background: url("../images/hero-science.jpg") no-repeat top left;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-types {
    height: 80vh;

    background: url("../images/hero-types.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-actions {
    height: 80vh;

    background: url("../images/hero-actions.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-more {
    height: 80vh;

    background: url("../images/hero-more.jpg") no-repeat center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-contact {
    height: 80vh;

    background: url("../images/hero-contact.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;

    position: absolute;
}
.hero-text {
    z-index: 1;
}

/*-----------------------------------Footer---------------------------------*/

footer {
    background-color: #aaaaaa;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px dashed #696969;
}

.footer-card {
    border: 1px dashed #696969;
    height: 100px;
    padding-top: calc(var(--bs-gutter-x)/ 3);
}

.contact-us div ul {
    float: right;
    text-align: right;
    list-style: none;
}

.row>* {
    padding-left: calc(var(--bs-gutter-x)/ 3);
    padding-right: calc(var(--bs-gutter-x)/ 3);
}

.contact-us div button {
    background-color: #00000000;
    text-transform: uppercase;
    padding: 0 2px;
    border: none;
    border-bottom: 1px solid #000000;
}

.contact-us div button:hover {
    background-color: #ffffff;
    border-bottom: 1px solid #2bff00;
}

ul li a i {
     color: #000000;
}

ul li a i:hover {
     color: #ffffff;
}

.fa {
    font-size: 30px;
    letter-spacing: 10px;
}

.socials {
    text-align: right;
}

footer div .design {
    text-align: right;
}