@import url('https://fonts.googleapis.com/css2?family=Sunshiney&family=Delius+Swash+Caps&family=Quicksand:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    font-weight: 500;
}

/*-----------------------------------Colours------------------------------*/

.white {
    background-color: white;
}

.blue {
    background-color: #00d9ff;
}

.green {
    background-color: #2bff00
}

.yellow {
    background-color: #fcff54;
}
 
.orange {
    background-color: #ff8800;
}
 
.pink {
    background-color: #f700ff;
}

.purple {
    background-color: #8c00ff;
}

.hr-wide, hr:not([size]) {
    width: 33%;
    height: 10px;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 2rem;
}

/*-----------------------------------Fonts & Headers----------------------*/

h1 {
    font-family: "Sunshiney", cursive;
    font-size: 5rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
}

h2 {
    font-family: "Delius Swash Caps", cursive;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
}

h3 {
    font-family: "Delius Swash Caps", cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.lists {
    list-style: none;
}

.bottom-space {
    padding-bottom: 2rem;
}

.button-link {
    font-family: "Delius Swash Caps", cursive;
    text-transform: uppercase;
}

.button-link:hover {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%)
}

/*-----------------------------------Nav-----------------------------------*/

nav {
    z-index: 2;
    font-family: "Delius Swash Caps", cursive;
    width: 100%;
    line-height: 2rem;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 0;
    background-color: #00000000;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

ul {
    padding: 0;
}

nav .container-fluid {
    margin: 0;
    padding: 0;
}

.contact {
    position: absolute;
    right: 0;
}

.logo {
    font-family: "Sunshiney", cursive;
    font-size: 36px;
    color: #000000;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
}

.logo:hover {
    font-family: "Sunshiney", cursive;
    font-size: 36px;
    color: #000000;
    border-bottom: solid;
    border-width: 2px;
    border-color: #f700ff;
}

nav a {
    border-bottom: solid;
    border-width: 2px;
    border-color: #000000;
}

nav a:hover {
    border-bottom: solid;
    border-width: 2px;
    border-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-light .navbar-nav .nav-link.active {
    text-decoration: underline;
}

.navbar-light .navbar-toggler {
    border: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #00000000;
    border-radius: 0;
    padding: 9px 16px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../images/icons8-menu.svg);
}

.navbar-toggler:hover {
    box-shadow: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #00d9ff;
    background-color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link {
    padding: 8px 16px;
}

/*-----------------------------------Hero-----------------------------------*/

.hero-container-home {
    height: 100vh;

    background: url("../images/hero-home.jpg") no-repeat top left;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay-home {
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    position: absolute;
}

.hero-container-science {
    height: 80vh;

    background: url("../images/hero-science.jpg") no-repeat top left;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-types {
    height: 80vh;

    background: url("../images/hero-types.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-actions {
    height: 80vh;

    background: url("../images/hero-actions.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-more {
    height: 80vh;

    background: url("../images/hero-more.jpg") no-repeat center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-contact {
    height: 80vh;

    background: url("../images/hero-contact.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;

    position: absolute;
}

.hero-text {
    z-index: 1;
}

/*-----------------------------------Body-Home------------------------------*/

.weapons, .weapons h3 {
    text-align: left;
}

.weapons i {
    font-size: 4rem;
    color: #00d9ff;
    text-align: center;
}

.further ol a {
    color: #ffffff;
}

.further ol a:hover {
    color: #696969;
}

/*-----------------------------------Body-Science---------------------------*/

#diagram-shaft img {
    width: 80%;
    height: auto;
    border: 1px solid #2bff00;
}

#diagram-shaft, #diagram-follicle {
    text-align: center;
}

#diagram-follicle img {
    width: 80%;
    height: auto;
    border: 1px solid #000000;
}

a.types-link {
    color: #ffffff;
}

/*-----------------------------------Body-Types-----------------------------*/

.abc {
    list-style-type: lower-alpha; 
}

p.number {
    font-family: "Sunshiney", cursive;
    font-size: 5rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    color: #fcff54;
    padding: 0;
}

.hair-diagrams p {
    font-family: "Sunshiney", cursive;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    font-size: 40px;
}

.row.hair-diagrams.bottom-space {
    padding-top: 2rem;
}

.diagram-type {
    border: 1px solid #ff8800;
    padding: 0;
}

a.actions-link {
    color: #ff8800;
}

/*-----------------------------------Body-Actions---------------------------*/

/*--- Acknowledment video wrapper: Daily Motion https://faq.dailymotion.com/hc/en-us/articles/360022841393-How-to-preserve-the-player-aspect-ratio-on-a-responsive-page ---*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2.accordion-header {
    margin-top: 0;
}

.accordion-button:focus {
    border-color: #00d9ff;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%)
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
}

.tools i {
    font-size: 4rem;
    color: #ff8800;
    text-align: center;
}

a.more-link {
    color: #00d9ff;
}

div.col-12.row {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

/*-----------------------------------Body-More------------------------------*/

.more i {
    font-size: 4rem;
}

.where-next a {
    color: #ffffff;
}

.where-next a:hover {
    color: #696969;
}

/*-----------------------------------Body-Contact----------------------------*/

.form-control {
    border-radius: 0;
}

.form-control:hover {
    border-color: #fcff54;
    box-shadow: 0 0 0 0.25rem rgb(252 255 84 / 25%)
}

.form-control:focus {
    border-color: #00d9ff;
    box-shadow: 0 0 0 0.25rem rgb(0 217 255 / 25%)
}

/*-----------------------------------Body-404---------------------------------*/

.not-found {
    height: 50vh;
    margin: 0 auto;
    padding-top: 20vh;
}

.not-found p, .not-found h1 {
    display: block;
}

/*-----------------------------------Footer---------------------------------*/

footer {
    background-color: #aaaaaa;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px dashed #696969;
}

.footer-card {
    border: 1px dashed #696969;
    height: 100px;
    padding-top: calc(var(--bs-gutter-x)/ 3);
}

.contact-us div ul {
    float: right;
    text-align: right;
    list-style: none;
}

.contact-us div button {
    background-color: #00000000;
    text-transform: uppercase;
    padding: 0 2px;
    border: none;
    border-bottom: 1px solid #000000;
}

.contact-us div button:hover {
    background-color: #ffffff;
    border-bottom: 1px solid #2bff00;
}

ul li a i {
     color: #000000;
}

ul li a i:hover {
     color: #ffffff;
}

.fa {
    font-size: 30px;
    letter-spacing: 10px;
}

.socials {
    text-align: right;
}

footer div .design {
    text-align: right;
}