@import url('https://fonts.googleapis.com/css2?family=Sunshiney&family=Delius+Swash+Caps&family=Quicksand:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    font-weight: 500;
}

/* Colours */

.white {
    background-color: white;
}

.blue {
    background-color: #00d9ff;
}

.green {
    background-color: #88ff70;
}

.yellow {
    background-color: #fcff54;
}
 
.orange {
    background-color: #ffa947;
}
 
.pink {
    background-color: #f947ff;
}

/* Fonts & Headers */

h1 {
    font-family: "Sunshiney", cursive;
    font-size: 5rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
}

h2 {
    font-family: "Delius Swash Caps", cursive;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h3 {
    font-family: "Delius Swash Caps", cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.lists {
    list-style: none;
    padding-left: 0;
}

.button-link {
    font-family: "Delius Swash Caps", cursive;
    text-transform: uppercase;
}

.button-link:hover {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%)
}

/* Nav */

.curls-nav {
    z-index: 5;
    font-family: "Delius Swash Caps", cursive;
    width: 100%;
    line-height: 2rem;
    padding: 0;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}

.curls-nav .container-fluid, .curls-nav div  {
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 0;
}

@media (min-width: 992px) {
    #curlsnavlinks {
        display: block;
    }
}

.contact {
    position: absolute;
    right: 0;
}

.logo {
    font-family: "Sunshiney", cursive;
    font-size: 36px;
    color: #000000;
    border-bottom: solid;
    border-width: 3px;
    border-color: #000000;
    padding-left: 24px;
    padding-right: 24px;
}

.logo:hover {
    color: #000000;
    border-width: 3px;
    border-color: #f947ff;
}

nav a, .curls-nav-border {
    border-bottom: solid;
    border-width: 3px;
    border-color: #000000;
}

nav a:hover {
    color: #000000;
    border-bottom: solid;
    border-width: 3px;
    border-color: #ffffff;
}

.curls-link {
    color: #000000;
    font-weight: 500;
    padding: 8px 24px;
}

a.selected {
    text-decoration: underline;
}

.hamburger {
    border: none;
    background-color: white;
    padding: 7px 16px;
}

nav.curls-nav .curls-toggler-icon {
    background-image: url(../images/icons8-menu.svg);
}

/* Hero */

.hero-container-home {
    height: 100vh;

    background: url("../images/hero-home.jpg") no-repeat top left;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay-home {
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    position: absolute;
}

.hero-container-science {
    height: 80vh;

    background: url("../images/hero-science.jpg") no-repeat top left;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-types {
    height: 80vh;

    background: url("../images/hero-types.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-actions {
    height: 80vh;

    background: url("../images/hero-actions.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-more {
    height: 80vh;

    background: url("../images/hero-more.jpg") no-repeat center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-container-contact {
    height: 80vh;

    background: url("../images/hero-contact.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 80vh;

    position: absolute;
}

.hero-container-404 {
    height: 70vh;

    background: url("../images/404-image.jpg") no-repeat top;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-overlay-404 {
    background-color: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;

    position: absolute;
}

.hero-text {
    z-index: 1;
}

/* Body-Home */

.weapons, .weapons h3 {
    text-align: left;
}

.weapons i {
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
}

.further ol a {
    color: #ba39bf;
}

.further ol a:hover {
    color: #f947ff;
}

.more-card {
    width: 100%;
    min-height: 14rem;
}

.lists-home {
    list-style: none;
    padding: 0;
}

/* Body-Science */

#diagram-shaft img {
    width: 80%;
    height: auto;
    border: 1px solid #88ff70;
}

#diagram-shaft, #diagram-follicle {
    text-align: center;
}

#diagram-follicle img {
    width: 80%;
    height: auto;
    border: 1px solid #000000;
}

.science-flask {
    color: #88ff70;
    margin-bottom: 1rem;
}

/* Body-Types */

.type-abc {
    list-style-type: lower-alpha; 
}

.type-number-lg {
    font-family: "Sunshiney", cursive;
    font-size: 5rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    color: #fcff54;
    padding: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.type-number-sm {
    font-family: "Sunshiney", cursive;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    font-size: 40px;
}

.hair-type-diagrams {
    padding-top: 2rem;
}

.type-diagram-container {
    padding: 0;
}

.type-diagram {
    border: 1px solid #fcff54;
    padding: 0;
    height: 100%;
    width: 100%;
}

.types-absorb {
    color: yellow;
    margin-bottom: 1rem;
}

/* Body-Actions */

.actions-droplet {
    color: orange;
    margin-bottom: 1rem;
}

/* Acknowledgement video wrapper: Daily Motion https://faq.dailymotion.com/hc/en-us/articles/360022841393-How-to-preserve-the-player-aspect-ratio-on-a-responsive-page */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2.actions-acc-header {
    margin-top: 0;
}

.actions-acc-button:focus {
    border-color: #ffa947;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%)
}

.actions-acc-button:hover {
    background-color: #ffffff80;
}

.actions-acc-button:not(.collapsed) {
    color: #000000;
    background-color: #ffffff;
}

.actions-acc-button:not(.collapsed)::after {
    background-image: url("../images/w3-chevron.svg");
}

.tools i {
    font-size: 3rem;
    color: #ffa947;
}

.tools-details {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

/* Body-More */

.more i {
    font-size: 4rem;
}

.contrast-icon i {
    font-size: 2.5rem !important;
    color: #f947ff;
}

.where-next a {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}

.where-next a:hover {
    color: #ffffff;
}

/* Body-Contact */

.form-border {
    border-radius: 0;
}

.form-border:hover {
    border-color: #fcff54;
    box-shadow: 0 0 0 0.25rem rgb(252 255 84 / 25%)
}

.form-border:focus {
    border-color: #00d9ff;
    box-shadow: 0 0 0 0.25rem rgb(0 217 255 / 25%)
}

h2.modal-title {
    margin-top: 0;
}

/* Body-404 */

.body-not-found a {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}

.body-not-found a:hover {
    color: #00d9ff;
}

/* Footer */

footer {
    background-color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    border-top: 3px solid #000000;
    text-align: center;
}

.footer-card {
    height: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 0 10px 0;
}

.instagram {
    color: #88ff70;
}

.pinterest {
    color: #ffa947
}

.youtube {
    color: #f947ff;
}

ul li a i:hover {
     color: #000000;
}

.fab {
    font-size: 30px;
}
